# LangChain + LangGraph
langchain
langgraph
langchain-core
langchain-community

# LLM Providers
langchain-openai
langchain-groq
langchain-mistralai

# Environment Variables
python-dotenv

# Data Validation
pydantic

# API
fastapi
uvicorn